<nav>
  <ul>
    <li><%= link_to 'Create New Product', new_product_path %></li>
    <li><%= link_to 'Product Listing', products_path %></li>
    <!-- Add other admin-related links if needed -->
  </ul>
</nav>